APP_NAME=GoBenchApp
APP_PORT=4000
APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db_name
DB_USER=user
DB_PASSWORD=password

MINIO_ENDPOINT=YOUR_ENDPOINT
MINIO_KEY_ID=YOUR_ID
MINIO_KEY_SECRET=YOUR_SECRET
MINIO_SSL=false
MINIO_BUCKET=BUCKET_NAME
